<table>
  <thead>
    <th>날짜</th>
    <th>식품명</th>
    <th>섭취량</th>
    <th>칼로리</th>
    <th>총 칼로리</th>
  </thead>
  <tbody>
    <% today.forEach((fd) => {%>
    <tr>
      <td><%=fd.fd_date %></td>
      <td><%=fd.fd_food %></td>
      <td><%=fd.fd_intake %></td>
      <td><%=fd.fd_cal %>K</td>
      <td><%=fd.fd_intake * fd.fd_cal%>K</td>
    </tr>
    <% }) %>
  </tbody>
</table>
