extends ../layout

block content
    article.detail.container
        article.detail.info
            article.detail.col
                div CODE
                div= product.b_code
                div 이름
                div= product.b_title 
                div 전화번호
                div= product.b_tel 
                div 담당자명
                div= product.b_manager
            article.detail.addr
                div 주소
                div= product.b_post_addr
        article(data-b_code=`${buyer.b_code}`).detail.button 
            button.product.update 수정
            button.product.delete 삭제