<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      html {
        width: 100vw;
        height: 100vh;
      }
      body {
        width: 100%;
        height: 100%;
      }

      h1 {
        text-align: center;
        background-color: #dce2f0;
        padding: 20px;
        color: #50586c;
      }

      table {
        margin: 40px auto;
        border-collapse: collapse;
      }
      th,
      tr,
      td {
        padding: 8px 13px;
        border-bottom: 1px solid rgb(181, 175, 175);
        border-top: 1px solid rgb(181, 175, 175);
      }

      label {
        font-size: 18px;
        font-weight: 900;
      }
      input {
        padding: 7px 9px;
        border-radius: 5px;
      }
      form {
        margin: 25px 450px;
      }
    </style>
    <script src="../check.js"></script>
  </head>
  <body>
    <h1>학생정보</h1>
    <form onsubmit="return false">
      <input name="s_num" placeholder="학번" />
      <input name="s_name" placeholder="학생이름" />
      <input name="s_dept" placeholder="학과" />
      <input name="s_grade" placeholder="학년" />
      <input name="s_tel" placeholder="전화번호" />
      <input name="s_addr" placeholder="주소" />
      <button type="button" onclick="location.href='http://localhost:3000/'">
        전체보기
      </button>
      <button>추가</button>
      <button class="add">저장</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>학번</th>
          <th>학생이름</th>
          <th>학과</th>
          <th>학년</th>
          <th>전화번호</th>
          <th>주소</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach((student) => { %>
        <tr>
          <td><%= student.st_num %></td>
          <td><%= student.st_name %></td>
          <td><%= student.st_dept %></td>
          <td><%= student.st_grade %></td>
          <td><%= student.st_tel %></td>
          <td><%= student.st_addr %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
